/* Form
------------------------*/

label {
    color: #333;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

input,
textarea {
    width: 100%;
    font-size: 1.8rem;
    padding: 1.6rem;
    max-width: 48rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: 0.25s all ease-in-out;

    &:focus {
        border: 1px solid #bbb;
    }
}

textarea {
    min-height: 20rem;
}

.form-field {
    margin-bottom: 3.6rem;
}

button {
    color: var(--color-offblack);
    cursor: pointer;
    background: var(--color-yellow);
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    max-width: 48rem;
    padding: 1.6rem 1.4rem;
    border: none;
    outline: none;
    border-radius: 4px;
    letter-spacing: 1px;
    text-decoration: none;
}