/* Global 
------------------------*/
*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: var(--color-offblack);
	font-size: 1.6rem;
	font-weight: 400;
	font-family: var(--font-body);
	line-height: 1.5;
}

h1, h2, h3, h4 {
	font-weight: 500;
}

p {
	margin: 0 0 2.4rem;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: var(--color-blue);
	font-weight: 600;
	text-decoration: none;
	transition: all .3s ease-out;
}
