:root {
    --font-body: 'Public Sans', sans-serif;
    --color-white: #fff;
    --color-black: #000;
    --color-offblack: #161616;
    --color-grey-light: #e6e6e6; 
    --color-blue: #1C5D99;
    --color-blue-dark: #174D7E;
}