/* Layout 
------------------------*/
main {
  padding: 3.2rem 1.6rem;
}

.page-header {
  margin-bottom: 6rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e1e1e1;

  & h1 {
    margin-bottom: 1rem;
  }
}

/* Media queries
------------------------*/
@media(min-width: 768px) {
  main {
    max-width: 1100px;
    margin: 0 auto;
  }
}