/* Layout 
------------------------*/
.container {
  padding: 1.6rem 2.6rem;
}

/* Media queries
------------------------*/
@media(min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .content {
    padding-top: 8rem;
  }
}