/* Layout 
------------------------*/
main {
  background: var(--color-white);
  padding: 3.2rem 6rem;
}

/* Media queries
------------------------*/
@media(min-width: 768px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
  }
}