/* Section Header
------------------------*/
.section-header {
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    text-align: center;
  
    & h1 {
        font-size: 4.4rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }
}
